.header {
  display: flex;
  padding: 1em;
  gap: 2em;
}

.methods {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  justify-content: space-evenly;
}

.method {
  flex: 1 1 30%;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #95d4d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.method-body {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%; 
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #daeefb;
  width: 60%;
  padding-left: 1em;
}

.stats > div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-wrap: wrap; /* Allow wrapping */
  overflow: hidden; /* Prevent overflow */
  word-wrap: break-word; /* Break long words */
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  width: 30%;
}

.button-event {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  width: fit-content;
  height: fit-content;
  border-radius: 33px 10px 10px 10px;
  box-sizing: border-box;
  border: 5px solid rgba(255, 255, 255, 0.518); 
  pointer-events: auto;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.button-event button, .button-event input {
  box-sizing: border-box;
  width: 100%;
}

/* turn any children buttons green */
.button-event.active {
  border: 5px solid rgb(35, 111, 243);
}

.button-event .button {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 0.5em;
}

.button-event .button.disabled {
  transition: color 1s;
  color: grey;
  align-items: center;
  justify-content: center;
}

.progress-bar-container {
  width: 106%;
  /* offset to the left */
  margin-left: -3%;
  height: 15px;
  background-color: #e0e0e0;
  overflow: hidden;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 8px;
}

.progress-bar {
  box-sizing: border-box;
  height: 100%;
  background-color: #33ff05;
  width: 0;
  /* transition: width 0.01s ease-in-out; */
}
